<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BindingUsersManagementService" receiveTimeout="01:00:00" sendTimeout="01:00:00"
                 maxBufferSize="2000000000" maxReceivedMessageSize="2000000000">
          <readerQuotas maxDepth="2000000000" maxStringContentLength="2000000000" maxArrayLength="2000000000"
                        maxBytesPerRead="2000000000" maxNameTableCharCount="2000000000" />
          <!-- <reliableSession enabled="true" /> -->
          <!-- 1 -->
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Server.UsersManagementService" behaviorConfiguration="BehaviorUsersManagementService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BindingUsersManagementService"
                  contract="Server.IUsersManagementService" />
      </service>
    </services>
    <!--For debugging purposes set the includeExceptionDetailInFaults  
   attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="BehaviorUsersManagementService">
          <serviceMetadata httpGetEnabled="True" />
          <!-- <serviceMetadata httpsGetEnabled="True" /> -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>















  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>



  <!-- <entityFramework> -->
  <!--   <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/> -->
  <!--   ~1~ <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/> @1@ -->
  <!--   ~1~ <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework"> @1@ -->
  <!--   ~1~   <parameters> @1@ -->
  <!--   ~1~     <parameter value="mssqllocaldb" /> @1@ -->
  <!--   ~1~   </parameters> @1@ -->
  <!--   ~1~ </defaultConnectionFactory> @1@ -->
  <!--   <providers> -->
  <!--     ~1~ <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" /> @1@ -->
  <!--   ~1~ <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"> @1@ -->
  <!--     <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" /> -->
  <!-- -->
  <!--   ~1~ </provider> @1@ -->
  <!--    -->
  <!--   </providers> -->
  <!-- </entityFramework> -->



  <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient"
                type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
    <!-- <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.11.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/> -->

    <!-- <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/> -->

    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="mysql"
         connectionString="Server=192.168.88.240,3306;Host=192.168.88.240;Port=3306;Database=bb_ef;Uid=bb_ef;Pwd=FGCvKVdiYYCs5AM8;"
         providerName="MySql.Data.MySqlClient" />
    <add name="Model1"
         connectionString="Server=192.168.88.240,3306;Host=192.168.88.240;Port=3306;Database=bb_ef;Uid=bb_ef;Pwd=FGCvKVdiYYCs5AM8;"
         providerName="System.Data.SqlClient" />
  
  </connectionStrings>
  <!-- <runtime> -->
  <!--   <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> -->
  <!--     <dependentAssembly> -->
  <!--       <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" /> -->
  <!--       <bindingRedirect oldVersion="0.0.0.0-8.0.12.0" newVersion="8.0.12.0" /> -->
  <!--     </dependentAssembly> -->
  <!--   </assemblyBinding> -->
  <!-- </runtime> -->
</configuration>