<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BindingUsersManagementService" receiveTimeout="01:00:00" sendTimeout="01:00:00"
                 maxBufferSize="2000000000" maxReceivedMessageSize="2000000000">
          <readerQuotas maxDepth="2000000000" maxStringContentLength="2000000000" maxArrayLength="2000000000"
                        maxBytesPerRead="2000000000" maxNameTableCharCount="2000000000" />
          <!-- <reliableSession enabled="true" /> -->
          <!-- 1 -->
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
 

      <!-- ~1~ Original: @1@ -->
      <!-- <service name="Server.UsersManagementService" behaviorConfiguration="BehaviorUsersManagementService"> -->
      <!--   <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BindingUsersManagementService" -->
      <!--             contract="Server.IUsersManagementService" /> -->
      <!--   <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="/mex" /> -->
      <!-- </service> -->

      <service behaviorConfiguration="MetadataBehavior" name="Server.UsersManagementService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="Server.IUsersManagementService" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>

    </services>
    <!--For debugging purposes set the includeExceptionDetailInFaults  
   attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
        </behavior>
        <behavior name="BehaviorUsersManagementService">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="true"/>
          <!-- <serviceMetadata httpsGetEnabled="True" /> -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>














  <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient"
                type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="mysql"
         connectionString="Server=192.168.88.240,3306;Host=192.168.88.240;Port=3306;Database=bb_ef;Uid=bb_ef;Pwd=FGCvKVdiYYCs5AM8;"
         providerName="MySql.Data.MySqlClient" />
    <add name="Model1"
         connectionString="Server=192.168.88.240,3306;Host=192.168.88.240;Port=3306;Database=bb_ef;Uid=bb_ef;Pwd=FGCvKVdiYYCs5AM8;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>