@model web_client.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("LoginAction", "Home"))
{
    @Html.EditorForModel();
    <br/>
    //where is button helper?
    <input type="submit" value="Login"/>
}